*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

.container{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}
.navigate{
    display: flex;
    &__menu{
        display: flex;
        gap: 45px;
        margin: 0 176px 0 146px;
    }
    &__menu > a{
        text-decoration: none;
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #000000;
    }
}

@import './Layout/Header/Header.module.scss';
@import './components/Home/Home.module.scss';
@import './Layout/Footer/Footer.module.scss';